
<div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
  <div class="card">
    <img src="{{this.image}}" class="card-img-top" alt="Product image">
    <div class="card-body">

      <p class="card-text">{{this.title}}</p>
      <p class="card-text"><i>{{this.brand}}</i></p>

      <form id="qty-form" action="/pantry/product/qty" method="POST">
        {{!-- <div class="value-button" id="decrease" onclick="decreaseProductQty()" value="Decrease Value">-</div>
        <input type="text" name="productId" value="{{this._id}}" hidden> --}}
        <input type="number" id="product-qty" name="qty" value="{{this.qty}}" min="0"/>
        {{!-- <div class="value-button" id="increase" onclick="increaseProductQty()" value="Increase Value">+</div>--}}
        <button class="pantry-product-button" type="Submit">Change Qty</button>
      </form>

      <div id="pantry-product-buttons">
        <a href="/pantry/manage/product/details/{{this._id}}" class="pantry-product-button">Get Details</a>
        <a href="/pantry/manage/product/remove/{{this._id}}" class="pantry-product-button">Remove Product</a>
      </div>

    </div>
  </div>
</div>  


