<div class="card" id="product-detail-card">
  <form id="product-detail" action="/pantry/manage/{{product.pantryId}}" method="GET">

      <div id="product-detail-image">
        <img src="{{product.image}}" class="product-card-img-top" alt="Product image">
        <input type="text"  name="image" value="{{product.image}}" hidden>
      </div>

      <div class="product-card-body">

        <div>
          <input type="text" name="barcode_number" value="{{product.barcode_number}}" hidden>
        </div>

        <div>
          <p id="product-title">{{product.title}}</p>
          <input type="text" name="title" value="{{product.title}}" hidden>
        </div>

        <div>
          <p><b>Brand:</b> {{product.brand}}</p>
          <input type="text" name="brand" value="{{product.brand}}" hidden>
        </div>

        <div>
          <p><b>Size:</b> {{product.size}}</p>
          <input  type="text" name="size" value="{{product.size}}" hidden>
        </div>

        <div>
          <p><b>Category:</b> {{product.category}}</p>
          <input  type="text" name="category" value="{{product.category}}" hidden>
        </div>

        <div>
          <p><b>Description:</b> {{product.description}}</p>
          <input  type="text" name="description" value="{{product.description}}" hidden>
        </div>

        <div>
          <p><b>Manufacturer:</b> {{product.manufacturer}}</p>
          <input  type="text" name="manufacturer" value="{{product.manufacturer}}" hidden>
        </div>

        <div>
          <button id="pantry-product-detail-back" class="standard-button" type="Submit">Back</button>
        </div>

      </div>
  </form>
</div>
